<form action="/videos/<% @editvid['id'] %>" method="post">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="<%= @editvid['title'] %>">
  <label for="dsct">Description</label>
  <input type="text" id="dscr" name="dscr" value="<%= @editvid['dscr'] %>">
  <label for="url">YouTube ID</label>
  <input type="text" id="url" name="url" value="<%= @editvid['url'] %>">
  <button>Edit Vid</button>
</form>