<!DOCTYPE html>
<html>
<head>
  <title>RoHo's MemeTube</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div id="container">
  <nav>
    <ul>
      <li><a href="/">Videos</a></li>
      <li><a href="/videos/new">Add New</a></li>
    </ul>
  </nav>
  
  <%= yield %>

</div>

</body>
</html>